.new-header
  %h1
    =link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "185x49", alt: "mercari"), root_path
  .progress-bar__signup-bar
    %ol.progress-bar__signup-bar__clearfix
      %li.progress-bar__signup-bar__clearfix__process 会員情報
      %li.progress-bar__signup-bar__clearfix__process 電話番号認証
      %li.progress-bar__signup-bar__clearfix__process お届け先住所入力
      %li.progress-bar__signup-bar__clearfix__process 支払い方法
      %li.progress-bar__signup-bar__clearfix__process 完了