%h1 商品編集画面　作成中
-# .header
-#   .li
-#   マイページ
-#   .li
-#   お知らせ
-#   .li
-#   やることリスト
-#   .li
-#   いいね！一覧
-#   .li
-#   出品する
-#   .li
-#   -# = link_to "出品した商品 - 出品中", ''
-#   出品した商品 - 出品中
-#   .li
-#   出品した商品 - 取引中 
-#   .li
-#   出品した商品 - 売却済み
-#   .li
-#   購入した商品 - 取引中
-#   .li
-#   購入した商品 - 過去の取引
-#   .li
-#   ニュース一覧
-#   .li
-#   評価一覧
-#   .li
-#   ガイド
-#   .li
-#   お問い合わせ

-# .default-container
-#   .l-container_clearfix
-#     .mypage-tab-head
-#       出品した商品
-#       .listing-tabs
-#         出品中
-#         取引中
-#         売却済み
-#         = image_tag "#{@product.image}"
-#         = @product.title