.wrapper
  = render 'shared/header'
  .mp-right-box
    .mp-right-box__user-icon
      = image_tag '', alt: 'mercari', height: '200px', width: '100%'
      = link_to(users_path, class: "mp-right-box__user-icon__bar") do
        .mp-right-box__user-icon__bar__figure
          .mp-right-box__user-icon__bar__figure__img
            = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "", height: '60', width: '60')
        .mp-right-box__user-icon__bar__name
          61_mercari_team-B
        .mp-right-box__user-icon__bar__my-data
          評価&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;出品数&nbsp;&nbsp;1





  -# = render 'shared/footer'

