.exhibit-button
  = link_to new_product_path, class: 'exhibit_btn' do
    .exhibit-button__circle
      .exhibit-button__circle__top
      .exhibit-button__circle__exhibit
        出品
      .exhibit-button__circle__camera-icon
        %i.fas.fa-camera