// step1
.single-header {
  height: 128px;
  text-align: center;
  background: #f5f5f5;
  &__logo{
    margin: 40px 0 0;
    display: inline-block;
    width: 185px;
    height: 49px;
    line-height: 49px;
    &:hover {
      opacity: 0.7;
    }
  }
  .progress-bar {
    background: #f5f5f5;
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    }
  .progress-bar__active {
    font-weight: 600;
    color: #ea352d;
    margin: 0 40px 0 0;
    min-width: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 12px;

    &__status {
      background: #ea352d;
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
        }
      }
    &__phone-number {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }

    &__status__phone-number { 
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
        }
      }
    &__address {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__address {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
        }
    }
    &__payment {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__payment {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      &::after {
        content: '';
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
        }
      }
    &__complete {
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      display: inline-block;
      z-index: 1;
      position: relative;
      }
    &__status__complete {
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      border-radius: 50%;
      background: #ccc;
      &::before {
        right: 50%;
        content: '';
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    } 
  }
}

// step2
.single-container__step2{
  .single-header {
    height: 128px;
    text-align: center;
    background: #f5f5f5;
    &__logo{
      margin: 40px 0 0;
      display: inline-block;
      width: 185px;
      height: 49px;
      line-height: 49px;
      &:hover {
        opacity: 0.7;
      }
    }
    .progress-bar {
      background: #f5f5f5;
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
    }
    .progress-bar__active {
      color: #888;
      margin: 0 40px 0 0;
      min-width: 60px;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 12px;
      &__status {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
          }
      }
      &__phone-number {
        font-weight: 600;
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #ea352d;
        display: inline-block;
        z-index: 1;
        position: relative;
        }
      &__status__phone-number { 
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ea352d;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
      &__address {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
        }
      &__status__address {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
      &__payment {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
        }
      &__status__payment {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
      &__complete {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
      }
      &__status__complete {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      } 
    }
  }
}

// step3
.single-container__step3{
  .single-header {
    height: 128px;
    text-align: center;
    background: #f5f5f5;
    &__logo{
      margin: 40px 0 0;
      display: inline-block;
      width: 185px;
      height: 49px;
      line-height: 49px;
      &:hover {
        opacity: 0.7;
      }
    }
    .progress-bar {
      background: #f5f5f5;
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      .progress-bar__active {
        color: #888;
        margin: 0 40px 0 0;
        min-width: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 12px;
        &__status {
          background: #ea352d;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          &::after {
            content: '';
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
        }
        &__phone-number {
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #888;
          display: inline-block;
          z-index: 1;
          position: relative;
          }
        &__status__phone-number { 
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ea352d;
          &::before {
            right: 50%;
            content: '';
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
          &::after {
            content: '';
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
        }
        &__address {
          font-weight: 600;
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #ea352d;
          display: inline-block;
          z-index: 1;
          position: relative;
          }
        &__status__address {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ea352d;
          &::before {
            right: 50%;
            content: '';
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
          &::after {
            content: '';
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        &__payment {
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #888;
          display: inline-block;
          z-index: 1;
          position: relative;
        }
        &__status__payment {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ccc;
          &::before {
            right: 50%;
            content: '';
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
          &::after {
            content: '';
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
        &__complete {
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #888;
          display: inline-block;
          z-index: 1;
          position: relative;
        }
        &__status__complete {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ccc;
          &::before {
            right: 50%;
            content: '';
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        } 
      }
    }
  }
}

// step4
.single-container__step4{
  .progress-bar {
    background: #f5f5f5;
    padding: 40px 0 0 44px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    .progress-bar__active {
      color: #888;
      margin: 0 40px 0 0;
      min-width: 60px;
      position: relative;
      z-index: 1;
      display: inline-block;
      font-size: 12px;
      &__status {
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
      }
      &__phone-number {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
      }
      &__status__phone-number { 
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ea352d;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
      }
      &__address {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
      }
      &__status__address {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ea352d;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
      }
      &__payment {
        font-weight: 600;
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #ea352d;
        display: inline-block;
        z-index: 1;
        position: relative;
        }
      &__status__payment {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ea352d;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ea352d;
        }
        &::after {
          content: '';
          left: 50%;
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
      &__complete {
        margin: 0 40px 0 0;
        font-size: 12px;
        color: #888;
        display: inline-block;
        z-index: 1;
        position: relative;
        }
      &__status__complete {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
        background: #ccc;
        &::before {
          right: 50%;
          content: '';
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      } 
    }
  }
}