.l-chapter-container{
  &__loguout-box{
    padding: 64px;
    border-top: 1px solid #f5f5f5;

    &__content{
      max-width: 320px;
      margin: 0 auto;

      &__btn{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        min-height: 1.5em;
      }
    }
  }
}