.l-chapter-container{
  &__title{}
  &__mail-edit-form{
    padding: 64px;
    
    &__input-lists{
      max-width: 320px;
      margin: 0 auto;

      &__input-box{

        &:not(:first-of-type){
          margin: 40px 0 0;
        }
        
        label{
          font-size: 14px;
          font-weight: 600;
          display: inline-block;
        }

        &__email{
          box-sizing: border-box;
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          outline: 0;
          font-family: inherit;
          -webkit-appearance: none;
        }
        &__form-info-text{
          margin: 8px 0 0;
          line-height: 1.5;
          display: block;
          color: #888;
          font-size: 14px;
        }

        &__label{
          margin: 24px 0 0;
          font-weight: 600;
          display: inline-block;
        }

        .btn-default_btn-red{
          margin-top: 32px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}