.l-chapter-container{
  &__mypage-identification{
    padding: 64px;
    font-size: 14px;

    &__explanation{

      &__text{
        margin: 8px 0 0;
        line-height: 1.5;
      }
      &__text-right{
        margin: 8px 0 0;
        line-height: 1.5;
        text-align: right;

        &__link{
          color: #0099e8;
          text-decoration: none;

          .icon-arrow-right{
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

            &:before{
              // content: '\e001';
              border-style: solid;
              border-width: 0;
              text-decoration: inherit;
              vertical-align: inherit;
              box-sizing: inherit;
            }
          }
        }
      }
    }
    &__unalterable{
      margin: 40px 0 0;

      label{
        font-weight: 600;
        display: inline-block;
      }
      p{
        margin: 8px 0 0;
        line-height: 1.5;
      }

    }
    &__input-lists{
      &__input-box{
        margin: 40px 0 0;

        label{
          font-weight: 600;
          display: inline-block;
        }
        span{
          background: #ccc;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        &__text{
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          min-height: 1.5em;
          outline: 0;
          font-family: inherit;
          -webkit-appearance: none;
          box-sizing: border-box;
        }
      }

      .btn-default_btn-red{
        margin-top: 32px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }

    }

    &__explanation-bottom{
      margin: 40px 0 0;

      &__text{
        margin: 8px 0 0;
        line-height: 1.5;
      }
      &__text-right{
        margin: 8px 0 0;
        line-height: 1.5;
        text-align: right;

        &__link{
          color: #0099e8;
          text-decoration: none;

          .icon-arrow-right{
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;

            &:before{
              border-style: solid;
              border-width: 0;
              text-decoration: inherit;
              vertical-align: inherit;
              box-sizing: inherit;
            }
          }
        }
      }
    }

  }
}