.exhibit-button {
  position: fixed;
  z-index: 2;
  right: 32px;
  bottom: 32px;
  .exhibit_btn {
    text-decoration: none;
  }
  &__circle {
    background-color: #Ea352d;
    height: 160px;
    right: 32px;
    width: 160px;
    border-radius: 50%;
    text-align: center;
    &__top {
    padding: 25px 0px 0px;
    }
    &__exhibit {
    color:#ffff;
    font-size: 22px;
    }
    &__camera-icon {
      margin: 8px 50px 0px;
      .fas.fa-camera {
        &::before {
          color:#ffff;
          display: inline-block;
          font: 60px/1 FontAwesome;
        }
      }
    }
  }
}