= form_for @product do |f|
  = f.fields_for :root_area do |r|
    = r.select :root_area, [["北海道","1"],["青森","2"],["岩手","3"],["宮城","4"],["秋田","5"],["山形","6"],["福島","7"],["茨城","8"],["栃木","9"],["群馬","10"],["埼玉","11"],["千葉","12"],["東京","13"],["神奈川","14"]], prompt: "---"