%h1 商品出品
-# @product.each do |product|
-#   = product.all
.image
  %h3 画像image
.title
  %h3 タイトルtitle
.text
  %h3 テキストtext
.price
  %h3 価格price
.actions
%input{:onclick => "location.href='./new.html.haml'", :type => "button", :value => "商品出品"}/
